.footer__link-menu{
    list-style-type: none;
    margin-right: 18px;
}

.footer__link-menu:nth-last-child(-n+2){
    margin: 0;
}
.footer__link-menu:last-child{
    margin-left: auto;
    font-size: 14px;
    line-height: 16px;
}


@media all and (max-width: 580px) {
    .footer__link-menu{
        margin-bottom: 32px;
    }
    .footer__link-menu:nth-last-child(-n+2){
        margin: 0;
    }
    .footer__link-menu:last-child{
        margin-top: 48px;
        font-size: 14px;
        line-height: 14px;
    }
}