.lang__list-link{
    display: inline;
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
}
/*.lang__list-link:last-child{*/
/*    margin-right: 0;*/
/*}*/


@media all and (max-width: 320px) {
    .lang__list-link{
        font-size: 18px;
        line-height: 20px;
    }
}