.cover__wrapper{
    margin: 92px auto 0;
    position: relative;
    background: url("../../../images/cover-trains.jpg") 0 0 no-repeat;
    max-width: 1184px;
    background-size: cover;
    background-position: center;
}