.cover__title{
    display: block;
    background-color: rgba(0, 0, 0, .3);
    max-width: 560px;
    padding-top: calc(21%);
    padding-bottom: calc(14%);
    padding-left: calc((100% - 560px)/2);
    padding-right: calc((100% - 560px)/2);
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.cover__title:hover{
    background-color: rgba(0, 0, 0, .5);
}


@media all and (max-width: 700px){
    .cover__title{
        font-size: 11vw;
        line-height: 10vh;
    }
}

@media all and (max-width: 320px){
    .cover__title{
        padding: 33px 16px 22px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}